<h1>Interest Group List</h1>

<table
  mat-table
  cds-type="medium"
  [dataSource]="dataSource$"
  data-test="shared-table-default"
>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Bidder Column -->
  <ng-container matColumnDef="bidder">
    <th mat-header-cell *matHeaderCellDef>Bidder</th>
    <td mat-cell *matCellDef="let element">{{ element.bidder_name }}</td>
  </ng-container>

  <!-- Advertiser Column -->
  <ng-container matColumnDef="advertiser">
    <th mat-header-cell *matHeaderCellDef>Advertiser</th>
    <td mat-cell *matCellDef="let element">{{ element.advertiser_name }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- Data Fee Column -->
  <ng-container matColumnDef="data_fee">
    <th mat-header-cell *matHeaderCellDef>Data Fee, $</th>
    <td mat-cell *matCellDef="let element">
      {{ element.data_fee | currency : "USD" }}
    </td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutGap="8px">
        <button
          mat-icon-button
          color="secondary"
          cds-type="very-weak"
          (click)="openModal(element)"
        >
          <mat-icon>code</mat-icon>
        </button>
        <button
          mat-icon-button
          color="secondary"
          cds-type="very-weak"
          attr.aria-label="Delete element {{ element.name }}"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
