<mat-toolbar class="toolbar">
  <div class="header content">
    <div fxLayoutGap="24px" fxLayoutAlign="center start" class="toolbar-left">
      <img src="../assets/criteo-logo-orange.svg" alt="logo" />
      <span class="cds-title-bold">IG Activation Platform</span>
    </div>
    <div class="toolbar-right">
      <div fxLayout="column" fxLayoutAlign="center center" class="px-1">
        <a routerLink="/list" class="cds-p1-bold">List</a>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="px-1">
        <a
          href="https://uslicer.iponweb.com/reims/UI/Reports/Protected%20Audience"
          target="_blank"
          class="cds-p1-bold"
          >Reporting (u-Slicer)</a
        >
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="px-1">
        <button
          mat-button
          color="primary"
          cds-type="very-strong"
          cds-size="small"
          (click)="onCreate()"
        >
          Create
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
<section class="content">
  <router-outlet></router-outlet>
</section>
