:host {
  display: block;
  padding-bottom: 60px;
}

.content {
  width: 1080px;
  max-width: 1080px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
}

.toolbar {
  margin-bottom: 24px;
}
