<h1>Create Interest Group</h1>
<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayoutGap="24px">
    <div class="left">
      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Bidder</mat-label>
          <mat-select
            formControlName="bidder"
            disableOptionCentering="true"
            placeholder="Select placeholder"
          >
            <mat-option *ngFor="let bidder of bidders" [value]="bidder.id">
              {{ bidder.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Description</mat-label>
          <textarea
            formControlName="description"
            rows="5"
            matInput
            placeholder="Placeholder value"
          ></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field fxFlex="120px">
          <mat-label>Data Fee, CPM</mat-label>
          <input
            formControlName="data_fee"
            matInput
            type="number"
            min="0"
            step="0.1"
          />
          <span matPrefix>$</span>
          <span matSuffix>CPM</span>
        </mat-form-field>
      </div>
    </div>

    <div class="right">
      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Group Name</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Placeholder value"
            required
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Advertiser</mat-label>
          <mat-select
            formControlName="advertiser"
            disableOptionCentering="true"
            placeholder="Select placeholder"
          >
            <mat-option
              *ngFor="let advertiser of advertisers"
              [value]="advertiser.id"
            >
              {{ advertiser.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-checkbox formControlName="availability">
          Available for all advertisers
        </mat-checkbox>
      </div>
    </div>
  </div>
  <button mat-button color="primary" cds-type="very-strong" type="submit">
    Create Group
  </button>
</form>

<mat-divider></mat-divider>

<h2>Script</h2>
<div fxLayout="row wrap" fxLayoutGap="24px">
  <mat-form-field fxFlex="300px">
    <mat-label class="cdk-visually-hidden">Textarea no label</mat-label>
    <textarea rows="5" matInput readonly [ngModel]="iframeScript"></textarea>
  </mat-form-field>

  <button
    mat-button
    color="secondary"
    type="button"
    [disabled]="!iframeScript"
    (click)="copy()"
  >
    Copy
  </button>
</div>
