<h1>{{ id ? "Edit" : "Create" }} Interest Group</h1>
<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div fxLayout="row wrap" fxLayoutGap="24px">
    <div class="left">
      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Bidder</mat-label>
          <mat-select
            formControlName="bidder"
            disableOptionCentering="true"
            placeholder="Please Select value"
          >
            <mat-option *ngFor="let bidder of bidders" [value]="bidder.id">
              {{ bidder.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Description</mat-label>
          <textarea
            formControlName="description"
            rows="5"
            matInput
            placeholder="Description of Interest Group"
          ></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field fxFlex="120px">
          <mat-label>Data Fee, CPM</mat-label>
          <input
            formControlName="data_fee"
            matInput
            type="number"
            min="0"
            step="0.1"
          />
          <span matPrefix>$</span>
          <span matSuffix>CPM</span>
        </mat-form-field>
      </div>
    </div>

    <div class="right">
      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Group Name</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Placeholder Shoppers"
            required
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field fxFlex="300px">
          <mat-label>Advertiser</mat-label>
          <mat-select
            formControlName="advertiser"
            disableOptionCentering="true"
            placeholder="Please Select"
          >
            <mat-option
              *ngFor="let advertiser of advertisers"
              [value]="advertiser.id"
            >
              {{ advertiser.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-checkbox formControlName="availability">
          Available for all advertisers
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="24px">
    <button
      *ngIf="!id"
      mat-button
      color="primary"
      cds-type="very-strong"
      type="submit"
      [disabled]="form.invalid"
    >
      Create Group
    </button>
    <button
      *ngIf="id"
      mat-button
      color="primary"
      cds-type="very-strong"
      type="button"
      (click)="openModal()"
    >
      Copy Script
    </button>
  </div>
</form>
